.Navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
  align-items: center;
}

.Navigation a {
  text-decoration: none;
  color: black;
}

.Darkmode{
background-color: black;
}
.Darkmode h1 {
color: azure;
}
.CreateNote{
    margin-bottom: 15px;
    border-radius: 20px;
    background-color:forestgreen;
    padding: 1.5rem;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}


