.Navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
  align-items: center;
}

.Navigation a {
  text-decoration: none;
  color: black;
}

.Darkmode{
background-color: black;
}
.Darkmode h1 {
color: azure;
}



